DEBUG=false

# Set to true to run tests that call real external APIs.
RUN_INTEGRATION_TESTS=false

GITHUB_ACCESS_TOKEN=
GITHUB_API_BASE=https://api.github.com

GITLAB_ACCESS_TOKEN=
GITLAB_API_BASE=https://gitlab-master.nvidia.com/api/v4

DISCORD_BOT_TOKEN=

SLACK_BOT_TOKEN=
SLACK_TEAM_ID=
